.promo
  padding: 20px 20px
  width: 100%
  min-height: 600px
  background: url(../img/promo-img.png) center no-repeat
  background-size: cover
  justify-content: flex-start
  &__block
    max-width: 241px
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    margin: 136px 0 50px
    &-title
      font-weight: 700
      font-size: 24px
      line-height: 140%
      color: $white
      text-align: center
      margin: 0 auto  
      &::before,
      &:after 
        content: url('../img/leep-white.svg')
    &-leep 
      width: 28px
      height: 14px
  &-title 
    font-family: 'El Messiri'
    font-weight: 700
    font-size: 64px
    line-height: 140%
    color: $white
    max-width: 587px
    width: 100%
    text-align: center